<section id="section-menu">

  <div id="last-button" routerLink="/last">
    <img src="../../../assets/svgs/clock.svg"
         class="icon"/>
  </div>

  <div id="home-button" routerLink="/home">
    <img src="../../../assets/svgs/home.svg"
         class="icon"/>
  </div>

  <div id="graph-button" routerLink="/graph">
    <img src="../../../assets/svgs/bar-chart.svg"
         class="icon"/>
  </div>

  <div id="add-button" routerLink="/add">
    <img src="../../../assets/svgs/add.svg"
         class="icon"/>
  </div>

</section>
