<section id="section-graph">

  <div id="title">
    <h1>Apperçu des C</h1>
  </div>

  <div id="graph" *ngIf="lineChartData && lineChartLabels">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
  </div>

  <button type="button"
          class="btn btn-secondary bottom-right"
          routerLink="/add">
    Ajouter
  </button>

</section>
