#last {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../../../assets/img/landscape.png');
  margin: 0;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
 
#last-timer {
  font-size: 8em;
  z-index: 1;
  opacity: 1;
  background: #333;
  color: white;
  padding: 0 40px;
}